<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)='buscarUsuario(input.value)' type="text" class="form-control" placeholder="Buscar usuario">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class='alert alert-warning text-center'>
            <b>Cargando</b>
            <br>
            <i class='fa fa-refresh fa-spin fa-2x'></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class='card-title'>Usuarios resgistrados ( <small>{{totalRegistros}}</small> )</h3>
                <table class='table table-condensed'>
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Auth</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of usuarios">
                            <td class="w70">
                                <img (click)="mostrarModal(u._id)" [src]="u.img | imagen" class="img-50 img-circle pointer">
                            </td>
                            <td>{{u.email}}</td>
                            <td>{{u.nombre}}</td>
                            <td>
                                <select [(ngModel)]="u.role" name="role" class='form-control'>
                                  <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                                  <option value="USER_ROLE">USER_ROLE</option>
                                </select>
                            </td>
                            <td>
                                <label *ngIf="u.google" class='label label-danger'>Google</label>
                                <label *ngIf="!u.google" class='label label-primary'>Normal</label>
                            </td>
                            <td>
                                <button (click)="guardarUsuario(u)" class='btn btn-primary btn-sm'><i class='fa fa-save'></i></button>
                                <button (click)="borrarUsuario(u)" class='btn btn-danger btn-sm'><i class='fa fa-trash-o'></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type='button' (click)='cambiarDesde(-5)' class='btn btn-rounded btn-outline-secondary'><i class="fa fa-arrow-left"></i> Anterior</button>
                <button type='button' (click)='cambiarDesde(5)' class='btn btn-rounded btn-outline-secondary'>Siguiente <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>